<p id="notice"><%= notice %></p>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Editar Convidado</h3>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Voltar', convidados_path %>
	</div>
	
</div>


