<div class="col-md-10">
	<h1>Novo Convidado</h1>
	<%= render 'form' %>
	<%= link_to 'Voltar', convidados_path %>
</div>

<% content_for :js do %>
	$(document).ready(function() {
		var sugestao= function(){
			palavras= $("#convidado_nome").val();
			$.ajax({
				url: "<%= convidados_busca_path %>",
				type: "GET",
				dataType: 'Json',
				data: {nome: palavras},
				success: function(data){
					console.log(data);
				}
			});
		};
		$("#convidado_nome").bind('keyup', sugestao);
	});
<% end %>

